/* Estilos para el documento */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b1c1f7;
    margin: 0;
    padding: 20px;
}

/* Título principal */
h1 {
    color: #1a73e8;
    text-align: center;
    font-size: 36px;
}

/* Título secundario */
h3 {
    color: #e91e63;
    font-size: 24px;
}

/* Estilo general de párrafos */
p {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
}

/* Imagen */
img {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}